<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8"/>
    <title> Sign in - CityPrint </title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/cityprint.css"/> 
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/loginRegister.js"></script>
  </head>
  <body>
    <div id="login" class="hide">
      <div id="main-head">
        <div class="logo" onclick="window.location='./Cityprint.html'"></div>
      </div>
      <div id="main-body">
        <div id="register-box" class="register-box">
          <div class="input-box">
            <input type="text" id="register-username" class="text-input" placeholder="Username" tabindex="1" onchange="checkUsernameExist()"/>
          </div>
          <div class="input-box">
            <input type="password" id="register-password" class="text-input" placeholder="Password" tabindex="2"/>
          </div>
          <div class="input-box">
            <input type="password" id="register-password-confirm" class="text-input" placeholder="Confirm Password" tabindex="3"/>
          </div>
          <div class="login-bind">
            <button id="register-btn" class="btn" tabindex="4" onclick="submitRegister()">Sign up</button>
          </div>
          <div id="register-information" class="information information-hide hide">
          </div>
        </div>
        <div id="login-box" class="login-box in-place login-box-before-init">
          <div class="input-box">
            <input type="text" id="login-username" class="text-input" placeholder="Username" tabindex="5" onchange="checkUsernameExist()"/>
          </div>
          <div class="input-box">
            <input type="password" id="login-password" class="text-input" placeholder="Password" tabindex="6"/>
          </div>
          <div class="login-bind">
            <button id="login-btn" class="btn" tabindex="7" onclick="submitLogin()">Sign in</button>
          </div>
          <div id="login-information" class="information information-hide hide">
          </div> 
        </div>
        <div id="slogan" class="slogan slogan-in-place not-selectable">
        </div>
        <div id="switcher" class="not-selectable switcher-before-init" onclick="switchLoginRegister()">
          <div id="switch-arrow" class="switch-arrow"></div>
          <div id="switch-label">Sign up</div>
        </div>
      </div>
      <div id="main-footer" class="main-footer">
        <ul id="website-info">
			<li>© 2016 CityPrint | </li>
			<li>Li Shiyu | </li>
            <li>Zhan Yin  </li>
		</ul>
      </div>
    </div>
  </body>
</html>