doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/map.css', rel='stylesheet')
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.12.0.min.js')
    script(type='text/javascript', src='/javascripts/map.js')
  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li(role='presentation')
              a(href='/about', target='_blank') About
            li(role='presentation')
              a(href='/logout') Sign out
        .logo(onclick="window.location='/'")
      block content
      footer.footer
        p © 2016 CityPrint | Li Shiyu | Zhan Yin 


