extends layout

block content
  h1 Log in
  form(name="add-estimation", method="post")
    div.input
      span.label Username
      input(type="text", name="username")
    div.actions
      input(type="submit")