extends layout

block content
  h1 Log in
  form(name="add-estimation", method="post")
    div.input
      span.label Username
      input(type="text", name="username")
    div.input
      span.label Password
      input#password1(type="password", name="password") 
    div.input
      span.label Confirm Password
      input#password2(type="password", name="password2")
    div.actions
      input(type="submit")